<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <img src="/img/Attach1097_20161017_142817.jpg">
        {{>footer}}
    </body>
</html>